Repository shenxiangzhuang/libspot-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-libspot, cargo-fmt-libspot-rs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt-libspot
        name: cargo fmt (libspot)
        description: Format Rust code with rustfmt (libspot crate)
        entry: bash -c 'cd crates/libspot && cargo fmt --all -- --check'
        language: system
        files: ^crates/libspot/.*\.rs$
        pass_filenames: false
      - id: cargo-clippy-libspot
        name: cargo clippy (libspot)
        description: Run clippy lints (libspot crate)
        entry: bash -c 'cd crates/libspot && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: ^crates/libspot/.*\.rs$
        pass_filenames: false
        always_run: true
      - id: cargo-fmt-libspot-rs
        name: cargo fmt (libspot-rs)
        description: Format Rust code with rustfmt (libspot-rs crate)
        entry: bash -c 'cd crates/libspot-rs && cargo fmt --all -- --check'
        language: system
        files: ^crates/libspot-rs/.*\.rs$
        pass_filenames: false
      - id: cargo-clippy-libspot-rs
        name: cargo clippy (libspot-rs)
        description: Run clippy lints (libspot-rs crate)
        entry: bash -c 'cd crates/libspot-rs && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: ^crates/libspot-rs/.*\.rs$
        pass_filenames: false
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict

fix
  crates/libspot-rs/src/ser.rs
Due: cargo-fmt-libspot-rs

change: serde as default
  Cargo.lock
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/README.md
  crates/libspot-rs/examples/serialization.rs
  crates/libspot-rs/src/lib.rs
Due: cargo-fmt-libspot-rs

feat(libspot-rs): support model serialization and deserialization (#16)
  Cargo.lock
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/README.md
  crates/libspot-rs/examples/serialization.rs
  crates/libspot-rs/src/config.rs
  crates/libspot-rs/src/error.rs
  crates/libspot-rs/src/lib.rs
  crates/libspot-rs/src/peaks.rs
  crates/libspot-rs/src/ser.rs
  crates/libspot-rs/src/spot.rs
  crates/libspot-rs/src/status.rs
  crates/libspot-rs/src/tail.rs
  crates/libspot-rs/src/ubend.rs
  crates/libspot-rs/tests/serialization.proptest-regressions
  crates/libspot-rs/tests/serialization.rs
Due: cargo-fmt-libspot-rs

chore: bump libspot-rs version to 0.2.0
  Cargo.lock
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/README.md
  crates/libspot-rs/src/lib.rs
Due: cargo-fmt-libspot-rs

chore: add LICENSE file to libspot-rs crate
  crates/libspot-rs/LICENSE
Due: none

chore: bump libspot-rs version to 0.2.0 (#20)
  Cargo.lock
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/LICENSE
  crates/libspot-rs/README.md
  crates/libspot-rs/src/lib.rs
Due: cargo-fmt-libspot-rs

Align tail estimator order with C and update benchmarks
  README.md
  crates/libspot-rs/src/estimator.rs
Due: cargo-fmt-libspot-rs

Align tail estimator order with C and update benchmarks (#21)
  README.md
  crates/libspot-rs/src/estimator.rs
Due: cargo-fmt-libspot-rs

release(libspot-rs): 0.2.1
  crates/libspot-rs/Cargo.toml
Due: none

update doc
  crates/libspot-rs/README.md
Due: none

release(libspot-rs): 0.2.1 (#22)
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/README.md
Due: none

chore: add .claude to .gitignore and remove tracked files
  .claude/settings.local.json
  .gitignore
Due: none

feat: add Rust-themed logo with surface rust texture
  .claude/settings.local.json
  Cargo.lock
  README.md
  docs/img/LOGO_ATTRIBUTION.md
  docs/img/logo.svg
  docs/img/original-logo.svg
Due: none

feat: Add Rust-themed logo (#24)
  .gitignore
  Cargo.lock
  README.md
  docs/img/LOGO_ATTRIBUTION.md
  docs/img/logo.svg
  docs/img/original-logo.svg
Due: none

ci: verify raw C / Rust FFI / pure Rust basic examples produce identical output
  .github/workflows/test-consistency.yaml
Due: none

ci: verify raw C / Rust FFI / pure Rust basic examples produce identical output (#25)
  .github/workflows/test-consistency.yaml
Due: none

feat(libspot): migrate to libspot v3.0.0 API
  Cargo.lock
  crates/libspot/Cargo.toml
  crates/libspot/examples/basic.c
  crates/libspot/src/detector.rs
  crates/libspot/src/ffi.rs
  crates/libspot/src/lib.rs
Due: cargo-fmt-libspot

ci: use wrapper crate's basic.c (not submodule's) for consistency check
  .github/workflows/test-consistency.yaml
Due: none

feat(libspot): bump to 3.0.0 and add reset() wrapper
  Cargo.lock
  crates/libspot/Cargo.toml
  crates/libspot/examples/basic.c
  crates/libspot/src/detector.rs
  crates/libspot/src/ffi.rs
Due: cargo-fmt-libspot

ci: benchmark all 3 implementations with hyperfine (release, 5 runs)
  .github/workflows/test-consistency.yaml
Due: none

docs(readme): refresh benchmark numbers from CI (hyperfine, 5 runs)
  README.md
Due: none

docs(readme): add 's' unit to performance std-dev values
  README.md
Due: none

feat(libspot): migrate FFI bindings to libspot v3.0.0 API (#26)
  .github/workflows/test-consistency.yaml
  Cargo.lock
  README.md
  crates/libspot/Cargo.toml
  crates/libspot/examples/basic.c
  crates/libspot/src/detector.rs
  crates/libspot/src/ffi.rs
  crates/libspot/src/lib.rs
Due: cargo-fmt-libspot

ci: post hyperfine benchmark as sticky PR comment
  .github/workflows/test-consistency.yaml
Due: none

ci: include consistency table in PR comment, refine icons
  .github/workflows/test-consistency.yaml
Due: none

ci: post hyperfine benchmark as sticky PR comment (#27)
  .github/workflows/test-consistency.yaml
Due: none

feat(libspot-rs): add SpotDetector::reset() to mirror FFI parity
  crates/libspot-rs/src/peaks.rs
  crates/libspot-rs/src/spot.rs
  crates/libspot-rs/src/tail.rs
  crates/libspot-rs/src/ubend.rs
Due: cargo-fmt-libspot-rs

test(libspot-rs): add layered tests for reset() across all levels
  crates/libspot-rs/src/peaks.rs
  crates/libspot-rs/src/spot.rs
  crates/libspot-rs/src/tail.rs
  crates/libspot-rs/src/ubend.rs
Due: cargo-fmt-libspot-rs

feat(libspot-rs): add SpotDetector::reset() for API parity (#28)
  crates/libspot-rs/src/peaks.rs
  crates/libspot-rs/src/spot.rs
  crates/libspot-rs/src/tail.rs
  crates/libspot-rs/src/ubend.rs
Due: cargo-fmt-libspot-rs

chore(libspot-rs): release 0.3.0
  Cargo.lock
  crates/libspot-rs/Cargo.toml
Due: none

chore(libspot-rs): release 0.3.0 (#29)
  Cargo.lock
  crates/libspot-rs/Cargo.toml
Due: none

Add MOM estimator options
  crates/libspot-rs/README.md
  crates/libspot-rs/src/config.rs
  crates/libspot-rs/src/estimator.rs
  crates/libspot-rs/src/lib.rs
  crates/libspot-rs/src/spot.rs
  crates/libspot-rs/src/tail.rs
  crates/libspot-rs/tests/serialization.rs
Due: cargo-fmt-libspot-rs

Fix repeated SPOT fit tail reset
  crates/libspot-rs/src/spot.rs
Due: cargo-fmt-libspot-rs

Add MOM estimator options (#30)
  crates/libspot-rs/README.md
  crates/libspot-rs/src/config.rs
  crates/libspot-rs/src/estimator.rs
  crates/libspot-rs/src/lib.rs
  crates/libspot-rs/src/spot.rs
  crates/libspot-rs/src/tail.rs
  crates/libspot-rs/tests/serialization.rs
Due: cargo-fmt-libspot-rs

chore(libspot-rs): release 0.4.0-rc.1
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/README.md
  crates/libspot-rs/src/lib.rs
Due: cargo-fmt-libspot-rs

chore(libspot-rs): release 0.4.0-rc.1 (#31)
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/README.md
  crates/libspot-rs/src/lib.rs
Due: cargo-fmt-libspot-rs

feat(libspot-rs): add bounded anomaly scores
  .cargo/config.toml
  README.md
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/README.md
  crates/libspot-rs/docs/katex-header.html
  crates/libspot-rs/src/spot.rs
  crates/libspot-rs/src/tail.rs
  crates/libspot-rs/tests/anomaly_score.rs
Due: cargo-fmt-libspot-rs

docs: separate configuration and anomaly score
  README.md
  crates/libspot-rs/README.md
Due: none

docs: keep anomaly score details in rustdoc
  README.md
  crates/libspot-rs/README.md
Due: none

test(libspot-rs): cover injected stream anomalies
  crates/libspot-rs/tests/anomaly_score.rs
Due: cargo-fmt-libspot-rs
