Repository shenxiangzhuang/libspot-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-libspot, cargo-fmt-libspot-rs

cargo-fmt-libspot:
  name: cargo fmt (libspot)
  description: Format Rust code with rustfmt (libspot crate)
  entry: bash -c 'cd crates/libspot && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-fmt-libspot-rs:
  name: cargo fmt (libspot-rs)
  description: Format Rust code with rustfmt (libspot-rs crate)
  entry: bash -c 'cd crates/libspot-rs && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

test(libspot-rs): simplify anomaly score coverage
  crates/libspot-rs/src/spot.rs
  crates/libspot-rs/src/tail.rs
  crates/libspot-rs/tests/anomaly_score.rs
Due: cargo-fmt-libspot-rs

docs: scope rustdoc config to pure Rust crate
  crates/libspot-rs/.cargo/config.toml
  crates/libspot-rs/src/tail.rs
Due: cargo-fmt-libspot-rs

Add bounded EVT anomaly scores (#32)
  README.md
  crates/libspot-rs/.cargo/config.toml
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/README.md
  crates/libspot-rs/docs/katex-header.html
  crates/libspot-rs/src/spot.rs
  crates/libspot-rs/src/tail.rs
  crates/libspot-rs/tests/anomaly_score.rs
Due: cargo-fmt-libspot-rs

chore(libspot-rs): release 0.4.0-rc.2
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/README.md
  crates/libspot-rs/src/lib.rs
Due: cargo-fmt-libspot-rs

chore(libspot-rs): release 0.4.0-rc.2 (#33)
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/README.md
  crates/libspot-rs/src/lib.rs
Due: cargo-fmt-libspot-rs

fix(libspot-rs): update P2 extrema markers and prepare rc.3
  .github/workflows/test-consistency.yaml
  .github/workflows/test-libspot-rs.yaml
  Cargo.lock
  README.md
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/README.md
  crates/libspot-rs/src/lib.rs
  crates/libspot-rs/src/p2.rs
  crates/libspot-rs/tests/p2_threshold.rs
Due: cargo-fmt-libspot-rs

ci: match Rust floating-point rounding in C reference
  .github/workflows/test-consistency.yaml
Due: none

fix(libspot-rs): correct P2 extrema updates and release 0.4.0-rc.3 (#34)
  .github/workflows/test-consistency.yaml
  .github/workflows/test-libspot-rs.yaml
  Cargo.lock
  README.md
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/README.md
  crates/libspot-rs/src/lib.rs
  crates/libspot-rs/src/p2.rs
  crates/libspot-rs/tests/p2_threshold.rs
Due: cargo-fmt-libspot-rs

chore(libspot): update bundled C library and release 3.1.0
  .github/workflows/test-consistency.yaml
  Cargo.lock
  README.md
  crates/libspot-rs/README.md
  crates/libspot/Cargo.toml
  crates/libspot/README.md
  crates/libspot/tests/integration.rs
Due: cargo-fmt-libspot

chore(libspot): update bundled C library and release 3.1.0 (#35)
  .github/workflows/test-consistency.yaml
  Cargo.lock
  README.md
  crates/libspot-rs/README.md
  crates/libspot/Cargo.toml
  crates/libspot/README.md
  crates/libspot/tests/integration.rs
Due: cargo-fmt-libspot

fix(libspot-rs): align P2 input validation with C 3.1.0
  .github/workflows/test-consistency.yaml
  crates/libspot-rs/README.md
  crates/libspot-rs/src/p2.rs
  tests/p2_input_consistency.rs
Due: cargo-fmt-libspot-rs

docs: maintain separate changelogs for both crates
  crates/libspot-rs/CHANGELOG.md
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/README.md
  crates/libspot/CHANGELOG.md
  crates/libspot/Cargo.toml
  crates/libspot/README.md
Due: none

docs: use concise PR-linked changelog entries
  crates/libspot-rs/CHANGELOG.md
  crates/libspot/CHANGELOG.md
Due: none

ci: run all cross-implementation tests
  .github/workflows/test-consistency.yaml
Due: none

chore: organize crates and compatibility tests into a workspace
  .cargo/config.toml
  .github/workflows/test-consistency.yaml
  .github/workflows/test-libspot-rs.yaml
  .github/workflows/test-libspot.yaml
  .gitignore
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  README.md
  crates/libspot-compat-tests/Cargo.toml
  crates/libspot-compat-tests/examples/api_compatibility_test.rs
  crates/libspot-compat-tests/examples/compare_implementations.rs
  crates/libspot-compat-tests/examples/unified_api_demo.rs
  crates/libspot-compat-tests/tests/p2_input_consistency.rs
  crates/libspot-rs/CHANGELOG.md
  crates/libspot-rs/Cargo.toml
  crates/libspot-rs/examples/basic_pure.rs
  crates/libspot/CHANGELOG.md
  crates/libspot/examples/basic_ffi.rs
Due: cargo-fmt-libspot, cargo-fmt-libspot-rs

docs: complete both crate changelogs from release history
  crates/libspot-rs/CHANGELOG.md
  crates/libspot/CHANGELOG.md
Due: none

Path conditions:
  cargo-fmt-libspot: any of: ^crates/libspot/.*\.rs$
  cargo-fmt-libspot-rs: any of: ^crates/libspot-rs/.*\.rs$
